ul,
li {
    list-style-type: none;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "nav contnt";
    width: 1200px;
    margin: 0px auto;
    /* grid-gap: 10px; */
}

.content {
    grid-area: contnt;
    background-color: rgb(197, 197, 197);
}